<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Sample test" verbose="1">
    <listeners>
        <listener class-name="com.test.RetryTransformer"/>
    </listeners>
    <test name="second test">
        <classes>
            <class name="com.test.RetryTestCase"/>
        </classes>
    </test>

</suite>